#include "base_tsuru.h"


//   00  01  02  03  04  05  06  07  08  09
//  10  11  12  13  14    15  16  17  18  19
// 20  21  22  23  24  25  26  27  28  29  30

/ {

    keymap {
        compatible = "zmk,keymap";

        aptmak {
            label = "APT";

            bindings = <
                &kp Q          &kp W          &kp E          &kp R          &kp T                         &kp Y          &kp U          &kp I           &kp O          &kp P
                &kp A          &mt LSHIFT S   &kp D          &kp F          &kp G                         &kp H          &kp J          &kp K           &mt LSHIFT L   &kp RET
                &mt LSHIFT Z   &mt LCTRL X    &mt LGUI C     &mt LALT V     &kp B      &lt NUM SPACE      &kp N          &mt LALT M     &mt LGUI COMMA  &mt LCTRL DOT  &mo SYM
            >;
        };
        numbers {
            label = "NUM";

            bindings = <
                &kp N1         &kp N2         &kp N3         &kp N4         &kp N5                        &kp N6         &kp N7         &kp N8           &kp N9                   &kp N0
                &kp TAB        &kp ESCAPE     &kp GRAVE      &kp MINUS      &kp EQUAL                     &kp SEMICOLON  &kp APOSTROPHE &kp LEFT_BRACKET &mt LSHIFT RIGHT_BRACKET &kp BACKSLASH
                &kp LSHIFT     &kp LCTRL      &kp LGUI       &kp LALT       &kp B      &trans             &kp N          &kp LGUI       &kp DOT          &mt LCTRL SLASH          &kp BSPC
            >;
        };
        symbols {
            label = "SYM";

            bindings = <
                &kp F1         &kp F2         &kp F3         &kp F4          &kp F5                       &kp F6         &kp F7         &kp F8           &kp F9            &kp F10
                &trans         &trans         &trans         &trans          &mkp LCLK                    &kp H          &kp J          &kp K            &kp F11           &kp F12
                &kp LSHIFT     &kp LCTRL      &kp LGUI       &kp LALT        &mkp RCLK  &kp SPACE         &kp LEFT       &kp DOWN       &kp UP           &kp RIGHT         &trans
            >;
        };
        /*navigation {*/
            /*label = "NAV";*/
/**/
            /*bindings = <*/
                /*&none          &kp INSERT     &kp UP         &kp BSPC        &kp C_VOL_UP                 &kp C_VOL_UP   &kp BSPC       &kp DEL        &kp INSERT     &kp RIGHT*/
                /*&kp LCTRL      &hl LALT LEFT  &hl LGUI DOWN  &hl LSHFT RIGHT &kp C_VOL_DN                 &kp C_MUTE     &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT*/
                /*&trans         &kp HOME       &kp PG_DN      &kp END         &trans       &trans          &trans         &kp HOME       &kp PG_UP      &kp END        &trans*/
            /*>;*/
        /*};*/
        /*symbols {*/
            /*label = "SYM";*/
/**/
            /*bindings = <*/
                /*&trans         &kp GRAVE      &kp DQT        &kp RA(LS(SEMI)) &trans                      &trans         &kp BACKSLASH  &kp PIPE       &kp LT         &kp CARET*/
                /*&kp EXCL       &kp AT         &kp HASH       &kp DOLLAR      &trans                       &trans         &kp AMPERSAND  &kp ASTERISK   &kp PERCENT    &kp CARET*/
                /*&trans         &kp TILDE      &kp SQT        &kp UNDERSCORE  &trans       &trans          &trans         &kp MINUS      &kp PLUS       &kp EQUAL      &none*/
            /*>;*/
        /*};*/
        /*function {*/
            /*label = "FUN";*/
/**/
            /*bindings = <*/
                /*&none          &bootloader    &trans         &trans          &trans                       &kp F12        &kp F7         &kp F8         &kp F9         &none*/
                /*&none          &kp F12        &kp F11        &kp F10         &trans                       &kp F11        &kp F4         &kp F5         &kp F6         &kp F10*/
                /*&none          &kp F9         &kp F8         &kp F7          &trans        &trans         &trans         &kp F1         &kp F2         &kp F3         &none*/
            /*>;*/
        /*};*/

    };
};
